*{
    margin: 0;
    padding: 0;

}

body{
   display: flex;
   margin: auto;
   justify-content: center;
   align-items: center; 
   background-color: white;
   line-height: 1.5; 
   margin-top: 300px;
}


#gui{
    width: 100%;
    display: flex;
    justify-content: center;
}

.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}

.f24{
    font-size: 24px;
}

.f30{
    font-size: 30px;
}

.f36{
    font-size: 36px;
}

.f42{
    font-size:42px;
}

.f48{
    font-size: 48px;
}


.f60{
    font-size: 60px;
}

.f72{
    font-size: 72px;
}


#colorbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    background-color: aqua;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
    height: fit-content;    
}


#lbody{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


#rbody{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}




#title{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: 20px 20px 0 0;

}


#inffield{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
}

#inffield p{
    padding: 0 5px;
}

#buttons, #fbuttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
    padding: 5px 0;
}

#buttons button{
    cursor: pointer;
    padding: 5px;
    animation: shake 0.8s ease-in-out;
    
}

#fbuttons button{
    cursor: pointer;
    padding: 5px;
}


#buttons button:hover{
    animation-iteration-count: infinite;
    
}


.button{
    transition:  ease-in-out 0.5s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}

    #newfont{
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding-top: 5px;
    }


#newcolor{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 5px;
}

@keyframes shake {
    0% {transform:translateX(0);}
    25% {transform: translate(-5px);}
    50% {transform: translateX(+5px);}
    75% {transform: translateX(-5px);}
    100%{transform: translateX(0);}
}