* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  line-height: 1.5;
  font-size: 16px;
}

#gui {
  margin-top: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.f16 {
  font-size: clamp(0.875rem, 1vw, 1rem); /* 14px to 16px */
}

.f18 {
  font-size: clamp(1rem, 1.125vw, 1.125rem); /* 16px to 18px */
}

.f24 {
  font-size: clamp(1.25rem, 1.5vw, 1.5rem); /* 20px to 24px */
}

.f30 {
  font-size: clamp(1.5625rem, 2vw, 1.875rem); /* 25px to 30px */
}

.f36 {
  font-size: clamp(1.875rem, 2.5vw, 2.25rem); /* 30px to 36px */
}

.f42 {
  font-size: clamp(2.1875rem, 3vw, 2.625rem); /* 35px to 42px */
}

.f48 {
  font-size: clamp(2.5rem, 3.5vw, 3rem); /* 40px to 48px */
}

.f60 {
  font-size: clamp(3.125rem, 4.5vw, 3.75rem); /* 50px to 60px */
}

.f72 {
  font-size: clamp(3.75rem, 6vw, 4.5rem); /* 60px to 72px */
}

#colorbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  background-color: aqua;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid black;
  text-align: center;
  /* font-size: 16px; */
  height: fit-content;
  /* padding: 10px;   */
}

#lbody {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 10px;
}

#rbody {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}

#title {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

#inffield {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
}

#inffield p {
  padding: 0 5px;
}
#buttons {
  padding-top: 5px;
}
#buttons,
#fbuttons,
#fcbuttons {
  width: 100%;
  display: flex;
  border-radius: 0 0 20px 20px;
  align-items: center;
  justify-content: space-between;
}

#buttons label,
#fbuttons label,
#fcbuttons label {
  text-align: left;
  width: 85px;
  max-width: 85px;
  padding: 2px;
}

#buttons button {
  cursor: pointer;
  padding: 2px;
  animation: shake 0.8s ease-in-out;
  height: max-content;
  margin-right: 5px;
}

#fbuttons button {
  cursor: pointer;
  padding: 2px;
  height: max-content;
  margin-right: 5px;
}

#fcbuttons button {
  cursor: pointer;
  padding: 2px;
  height: max-content;
  margin-right: 5px;
}

#it,
#bo {
  cursor: pointer;
  padding: 2px;
  height: max-content;
}

#it {
  margin-left: 5px;
}

#fcbuttons {
  padding-bottom: 5px;
}

#dropdown1,
#dropdown,
#dropdown2 {
  height: max-content;
  max-width: 310px;
  display: block;
  cursor: pointer;
}

#dropdown2:focus {
  background-color: "white";
}

#buttons button:hover {
  animation-iteration-count: infinite;
}

.button {
  transition: ease-in-out 0.5s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}

#newfont {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 5px;
}

#newcolor {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 5px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translate(-5px);
  }
  50% {
    transform: translateX(+5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 960px) {
  #title {
    flex-direction:column ;
  }

  #gui {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: center;
  }

  #buttons button {
    padding: 0;
  }

  #fbuttons button {
    padding: 0;
  }

  body {
    font-size: 16px;
    line-height: 1;
  }
}

@media (max-width: 960px) {
  #rbody{
    margin-top: 10px;
  }
  #lbody{
    display: none;
  }
}
